table {
  width: 50%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 50%;
}

td, th {
  width: 25%;
}

@media (min-width: 1024px) {
  table {
    width: 50%; /* Set width to 50% for larger screens */
  }

}
