
.mat-elevation-z8{
  // width: 50%;
  // margin: auto;

  table {
    width: 100%;

    .mat-mdc-form-field {
      font-size: 14px;
      width: 50%;
    }

    td, th {
      width: 15%;
    }



    button {
      font-size: 16px;
      // padding: 10px 20px;
      // font-size: 16px;
      // color: white;
      // border: none;
      // cursor: pointer;
      // outline: none;

      .font{
        align-items: center;

      }

    }



  }


}





